{% extends 'user\layout\main.html' %}

{% block content %}


<div class="list-forum" style="margin-top: 100px;">
    <h3 class="mb-0">Forum</h3>
    <div class="row mt-4">
        {% for frm in forum %}
        <div class="col-12 mb-3">
            <div class="card-deck">
                <!-- 4 of these -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-0">{{frm.topic}}
                            {% if frm.user_id.id == user.id %}
                            <a href=""><span class="badge badge-warning badge-pill"><small>edit</small></span></a>
                            <a href=""><span class="badge badge-danger badge-pill"><small>hapus</small></span></a>
                            {% endif %}
                        </h5>

                        <small>by: {{frm.user_id.first_name}} {{frm.user_id.last_name}}</small> | <small>On 23 Feb
                            2020</small> <br>
                        <p class="mt-4">
                            {{frm.description}}
                        </p>
                        <a href="#" class="badge tag-forum mt-4">{{frm.category}}</a>
                        <div class="ml-1 mt-3 row">
                            <div class="comment-forum mr-3">
                                <i class="fas fa-comment-dots mt-1 ml-3" style="color: #f0b67f;"></i><small
                                    class="ml-1">{{frm.num_comment}}</small>
                            </div>

                            <div class="comment-forum">

                                <!-- <form action="{% url 'like_forum_url' frm.id %}" id="formLike" method="post">
                                    {% csrf_token %} -->
                                <a id="btn_like" href="{% url 'like_forum_url' frm.id %}">
                                    <i class="fas fa-heart mt-1 ml-3" style="color: #fe5f55;"></i><small
                                        class="ml-1">{{frm.num_like}}</small>
                                </a>
                                <!-- </form> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- <script>
            document.getElementById("btn_like").onclick = function () {
                document.getElementById("formLike").submit();
            }
        </script> -->

        <div class="col-10 mb-3 mx-auto">
            <div class="card-deck">
                <!-- 4 of these -->
                <div class="card">
                    <div class="card-body">

                        <h5>Komentar</h5>
                        <div class="tambah-komentar">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{form.discuss}}
                                <!-- <textarea class="input-komentar" placeholder="Tuangkan opini anda disini"
                                    cols="5"></textarea> -->
                                <br>
                                <input type="submit" value="Kirim" class="btn btn-sm btn-info float-right">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 mb-3">
            <h5>Diskusi</h5>
            {% for cmt in comment %}
            <div class="card-deck mb-3">
                <!-- 4 of these -->
                <div class="card">
                    <div class="card-body">


                        <div class="mb-0">
                            <a href="#" class="badge tag-forum">@{{cmt.user_id.username}}</a> |
                            <small>{{cmt.date_created}}</small>
                            <div class="ml-1 mr-1 mt-0 row">
                                <p class="">{{cmt.discuss}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


    </div>
</div>

<!-- <div class="form-group">
    <label for="cari" class="fas fa-search"></label>
    <input name="cari" id="cari" />
</div> -->





{% endblock %}