{% extends 'user\layout\main.html' %}
{% load static %}

{% block content %}


{% block javascript %}
<script src="{% static 'js/forum.js' %}"></script>
{% endblock %}
<!-- <img src="https://wallpapercave.com/wp/wp6312868.jpg" class="img-fluid" alt="Responsive image"> -->

<section class="section-pencarian" style="margin-top: 150px;">
    <form action="{% url 'pencarian_url'%}" method="POST">
        {% csrf_token %}
        <div class="pencarian mx-auto">
            <!-- <div class=" card-body"> -->

            <label for="cari" class="fas fa-search mr-2 mt-2 ml-2"></label>
            <input name="cari" class="cariInput" placeholder="Cari hobby kamu disini" />
            <!-- <input type="submit" value="Cari" /> -->
            <!-- </div> -->
        </div>
    </form>
</section>



<div class="list-forum mt-1">
    <h3 class="mb-0">Forum Diskusi Terbaru</h3>
    <small>Diskusikan hobbi anda</small>
    <div class="row mt-4" id="data-forum">


        {% include 'user/forum/list_data_forum.html' %}

    </div>
</div>

<!-- <div class="form-group">
    <label for="cari" class="fas fa-search"></label>
    <input name="cari" id="cari" />
</div> -->

<!-- Modal -->
<div class="modal fade" id="tambahforum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'list_forum' %}" method="post">
                <div class="modal-body">

                    {% csrf_token %}
                    <label for="topic">Topic:</label>
                    {{form.topic}}
                    <label for="desc">Description:</label>
                    {{form.description}}

                    <label for="cat">Category:</label>
                    <select name="name" class="form-control" id="cat">
                        {% for ct in category %}
                        <option value='{{ct.name}}'>{{ ct.name }}</option>
                        {% endfor %}
                    </select>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-sm btn-info" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}