{% extends 'user\layout\main.html' %}

{% block content %}


<div class="list-forum detail-event" style="margin-top: 100px;">
    <h3 class="mb-0">Event</h3>
    <div class="row mt-4 ">
        <div class="col-12 mb-3">
            {% for event in events %}
            <div class="card-deck">
                <!-- 4 of these -->
                <div class="card">

                    <div class="card-body">
                        <img src="../../{{event.image}}" class="float-left mr-4">
                        <a href="#" class="badge tag-forum mt-0">{{event.category}}</a>
                        <h4 class="card-title mb-0 mt-0">{{event.name}}</h4>
                        <small>by: @{{event.user_id.username}} | {{event.penyelenggara}}</small> <br>
                        <p class="mt-5 mb-0">{{event.start_time.date}} - {{event.end_time.date}} |
                            {{event.start_time.time}} - {{event.end_time.time}}</p>
                        <div class="mt-0 mb-5">
                            <i class="fas fa-map-marker-alt" style="color:#fe5f55;"></i>
                            <small class="card-text ml-2">{{event.alamat}}</small><br>
                            <small class="ml-4">{{event.tempat}}</small>
                        </div>


                        <div class="row mt-5">
                            <h6>Kouta Tersedia: </h6>
                            <span class="badge badge-pill ml-2"
                                style="background-color: white; padding:6px; box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);">{{event.kuota}}</span>
                        </div>
                        <!-- <div class="col-5 text-center mt-3"> -->
                        <a href="{% url 'hadirEvent' event.id %}" class="btn btn-info btn-detail mt-2">Hadiri Event</a>
                        <!-- </div> -->
                        <!-- <p class="mt-5">87 Orang akan menghadiri event ini.</p> -->

                        <p class="mt-4 mb-5">
                            {{event.description}}
                        </p>
                        <div class="float-left">
                            <h5>Contact</h5>
                            <span class="badge badge-secondary mt-2"><i class="fas fa-laptop-code"></i>
                                {{event.contact_website}}
                            </span>
                            <span class="badge badge-danger"><i class="fas fa-envelope-square"></i>
                                {{event.contact_email}}
                            </span>
                            <span class="badge badge-info"><i class="fas fa-phone-square-alt"></i>
                                {{event.contact_hp}}
                            </span>
                        </div>

                    </div>

                </div>
            </div>
            {% endfor %}
        </div>



    </div>
</div>

<!-- <div class="form-group">
    <label for="cari" class="fas fa-search"></label>
    <input name="cari" id="cari" />
</div> -->


{% endblock %}