{% extends 'user\layout\main.html' %}
{% load widget_tweaks %}

{% block content %}

<!-- <img src="https://wallpapercave.com/wp/wp6312868.jpg" class="img-fluid" alt="Responsive image"> -->

<section class="section-pencarian" style="margin-top: 150px;">
    <form action="{% url 'pencarian_url'%}" method="POST">
        {% csrf_token %}
        <div class="pencarian mx-auto">
            <!-- <div class=" card-body"> -->

            <label for="cari" class="fas fa-search mr-2 mt-2 ml-2"></label>
            <input name="cari" class="cariInput" placeholder="Cari hobby kamu disini" />
            <!-- <input type="submit" value="Cari" /> -->
            <!-- </div> -->
        </div>
    </form>
</section>

<div class="list-event mt-5">
    <h3 class="mb-0">Event Terbaru</h3>
    <small>Hadiri event untuk salurkan minat anda</small>
    <div class="d-flex justify-content-center mb-5">
        <button type="button" class="btn btn-info btn-tambah" data-toggle="modal" data-target="#tambahevent">
            Buat Event
        </button>
    </div>
    <div class="row mt-4">
        {% for event in events %}
        <div class="col-4 mb-5">
            <div class="card-deck">
                <!-- 4 of these -->
                <div class="card">
                    <span class="notify-badge">{{event.category}}</span>
                    <img class="card-img-top" src="{{event.image}}">
                    <div class="tgl-info">
                        <!-- <p class="tgl">{{event.start_time.day}}</p> -->
                        <p class="bulan">{{event.start_time.date}}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mt-4">{{event.name}}</h5>
                        <p>{{event.description |truncatechars:100}}</p>
                        <i class="fas fa-map-marker-alt" style="color:#fe5f55;"></i>

                        <small class="card-text ml-2">{{event.alamat}}</small>
                        <div class="row">
                            <div class="col text-center mt-3">
                                <a href="{% url 'detail_event_url' event.id %}" class="btn btn-info btn-detail">Detail
                                    Event</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if events.has_other_pages %}
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {% if events.has_previous %}
            <li class="page-item">
                <a class="page-link" tabindex="-1" aria-disabled="true"
                    href="?page={{ events.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}
            {% for i in events.paginator.page_range %}
            {% if events.number == i %}
            <li class="page-item active" aria-current="page">
                <a class="page-link">{{ i }} <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{i}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if events.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ events.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>
<!-- <div class="form-group">
    <label for="cari" class="fas fa-search"></label>
    <input name="cari" id="cari" />
</div> -->

<!-- Modal Tambah-->
<div class="modal fade" id="tambahevent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buat Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'add_event_url' %}" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" value="{{user.id}}">
                    <label for="penyelenggara">Penyelenggara:</label>
                    {{form.penyelenggara|add_class:"form-control"}}
                    <label for="name">Name:</label>
                    {{form.name|add_class:"form-control"}}

                    <label for="category">Category:</label>
                    {{form.category|add_class:"form-control"}}

                    <label for="tempat">Tempat:</label>
                    {{form.tempat|add_class:"form-control"}}

                    <label for="alamat">Alamat:</label>
                    {{form.alamat|add_class:"form-control"}}

                    <label for="image">Picture:</label>
                    {{form.image|add_class:"form-control"|append_attr:"id:image_event"}}

                    <label for="description">Desctiption:</label>
                    {{form.description|add_class:"form-control"}}

                    <label for="kouta">Kuota:</label>
                    {{form.kuota|add_class:"form-control"}}

                    <label for="start_time">Start Time:</label>
                    {{form.start_time|add_class:"form-control"}}

                    <label for="end_time">End Time:</label>
                    {{form.end_time|add_class:"form-control"}}

                    <label for="contact_hp">Contact HP:</label>
                    {{form.contact_hp|add_class:"form-control"}}

                    <label for="contact_email">Contact Email:</label>
                    {{form.contact_email|add_class:"form-control"}}

                    <label for="contact_website">Website:</label>
                    {{form.contact_website|add_class:"form-control"}}



                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-sm text-white btn-tambah" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    if ('{{message}}' == 'deleteEvent') {
        alert('{{ message }}');
    }
</script>

{% endblock %}