.center {
  margin: auto;
  width: 30%;
  display: block;
}

.ch-pwd {
  background-color: white;
}

.profile-left {
  border-right: 1px solid rgb(226, 226, 226);
  height: 100%;
  margin-top: -45%;
  margin-left: 0;
  margin-right: 0;
}

.profile-detail .phone-number p:nth-child(1) {
  font-size: smaller;
}

.profile-detail .phone-number p:nth-child(2) {
  font-size: larger;
  font-weight: 500;
}

.profile-detail img {
  width: 200px;
  height: 200px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  /* display: block; */
}

.profile-detail .btn-detail {
  border-radius: 25px;
  width: 20%;
  border: none;
  font-weight: bold;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  background: #ff7e5f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #feb47b,
    #ff7e5f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #feb47b,
    #ff7e5f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-detail .btn-detail:hover {
  background: #e6370b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ff8c35,
    #e6370b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ff8c35,
    #e6370b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-detail .card {
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* .profile-detail .card:hover {
    background-color: #d77a61;
  } */

.profile-detail a {
  text-decoration: none;
  color: black;
}

.profile-detail a:hover {
  color: #d77a61;
}

.profile-detail .like-forum {
  border-radius: 25px;
  /* width: 20px;
        height: 20px; */
  width: 67px;
  height: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.profile-detail .comment-forum {
  border-radius: 25px;
  /* width: 20px;
      height: 20px; */
  width: 67px;
  height: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.profile-detail .comment-forum small {
  font-weight: bold;
  font-size: 18px;
}

.profile-detail .tag-forum {
  color: white;
  background: #ff7e5f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #feb47b,
    #ff7e5f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #feb47b,
    #ff7e5f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-detail .tambah-komentar .input-komentar {
  width: 100%;
  border: 0;
  outline: none;
  color: #d77a61;
}
